<section id="main">
  <header>
    <section id="controls">
      Property:
      <select id="property">
        <option value="response_time">Response Time</option>
        <option value="render_time">Render Time</option>
      </select>

      Resolution:
      <select id="resolution">
        <option value="week">week</option>
        <option value="day">day</option>
        <option value="hour">hour</option>
        <option value="half_hour" selected>30 minutes</option>
        <option value="quarter_hour">15 minutes</option>
        <option value="sixth_hour">10 minutes</option>
        <option value="twelfth_hour">5 minutes</option>
        <option value="minute">minute</option>
      </select>
    </section>
  </header>

  <canvas id="chart" data-metric-id="<%= @metric.id %>"></canvas>
</section>
